.login-gizmo
{
    margin-top: 20vh;
    padding-bottom: 1em;
}

.login-banner
{
    padding: 1em;
}

.login-form
{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.login-error{
    
}

.input-field
{
    width: 80%;
}